<ion-header>
    <ion-toolbar>
      <ion-title>
        Completed
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
    <ion-card>
        <ion-card-header>
           <ion-card-title>Payment Done</ion-card-title>
        </ion-card-header>
        <ion-card-content>
         <p>Your Ticket has been successfully Booked!</p>
          <ion-button expand ='full' color="danger" (click)="moviePage()" >Book Another Ticket?</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>