<ion-header>
    <ion-toolbar color='danger'>
        <a href="booking">
            <ion-icon name='arrow-back' color="danger"></ion-icon></a>
      <ion-title>
        Offers
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>

    <ion-row>
        <ion-col size="6">
            <ion-card>
                <ion-img src='assets/offers/paypal.jpg'></ion-img>
                <ion-card-content>
                    <p><span>PayPal Rs.200 Off</span></p>
                </ion-card-content>
              </ion-card>
        </ion-col>
        <ion-col size="6">
            <ion-card>
                <ion-img src='assets/offers/amazonpay.jpg'></ion-img>
                <ion-card-content>
                    <p><span>AmazonPay Rs.100 Off</span></p>
                </ion-card-content>
              </ion-card>
        </ion-col>
        <ion-col size="6">
            <ion-card>
                <ion-img src='assets/offers/hdfc.jpg'></ion-img>
                <ion-card-content>
                    <p><span>HDFC 30% Discount</span></p>
                </ion-card-content>
              </ion-card>
        </ion-col>
        <ion-col size="6">
            <ion-card>
                <ion-img src='assets/offers/sbi.jpg'></ion-img>
                <ion-card-content>
                    <p><span>SBI 25% Discount</span></p>
                </ion-card-content>
              </ion-card>
        </ion-col>
      </ion-row>
  </ion-content>